.site {
  padding: 3rem 5.5rem;
  margin: auto;
  max-width: 80rem;
}

.info {
  cursor: pointer;
  position: initial;
  display: none;
}

.chartcontainer {
  display: block;
}

.chart {
  padding: 2rem;
  height: min(-moz-calc(10vw + 12rem), 25rem);
  height: min(-webkit-calc(10vw + 12rem), 25rem);
  height: min(-o-calc(10vw + 12rem), 25rem);
  height: min(calc(10vw + 12rem), 25rem);
}

.resultTextOne{
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.resultTextTwo{
  font-size: max(calc(3rem - 4vw), 2.5rem);
  color: rgba(0, 0, 0, 0.75);
}

.resultTextThree{
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}

.resultTextFour{
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.75);
}

.resultTextFive{
  font-size: 1.5rem;
  font-weight: 500;
}

.resultContainer{
  margin-top: 4rem;
  display:grid;
  row-gap: max(calc(7.5vw - 2.5rem), 0.75rem);
  column-gap: max(calc(15vw - 5rem), 1.25rem);
  width: inherit;
  grid-template-columns: repeat(2, 1fr);
}

.cardWrapper {
  display: grid; 
  grid-template-rows: repeat(2, 1fr);
}

.resultRechenzentrenContainer{
  margin-left: 10%;
  grid-column: 1;
  width: 90%;
  overflow: visible;
}

.resultNetzwerkeContainer{
  margin-left: 10%;
  grid-column: 2;
  width: 90%;
  overflow: visible;
}

.resultEndgeräteContainer{
  margin-left: 10%;
  grid-column: 1;
  width: 90%;
  overflow: visible;
}

.resultTextContainer{
  grid-column:2;
  background-color: yellow;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.datacenterSvg{
  height: 40%;
  width: 40%;
}

.networkSvg{
  height: 50%;
  width: 50%;
}

.resultSvg{
  height: 40%;
  width: 40%;
}

.cardText {
  grid-column: 2;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.controls {
  grid-column: 1;
  padding: 1.2rem 0.5rem;
}

.settings {
  position: relative;
  display: grid;
  gap: 0 3vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  justify-content: center;
  align-content: center;
}

.input {
  font-family: 'Avenir';
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.selectContainer {
  display: grid;
  gap: 2rem;
  width: inherit;
  grid-template-columns: repeat(2, 1fr);
}

.label {
  font-family: 'Avenir';
  font-size: 0.8rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.select {
  min-width: 10rem;
}

.footer {
  bottom: 0;
  width: 90%;
  padding: 2rem;
  border-top: rgba(0, 0, 0, 0.3) 1px solid;
}

@media (max-width: 900px) {
  .info {
    display: unset;
  }

  .settings {
    gap: 0;
  }

  .chart {
    max-width: 33rem;
    padding: 1rem 0;
    margin: auto;
  }

  .selectContainer {
    gap: max(1rem, 4vw);
  }

  .select {
    min-width: unset;
  }

  .site {
    padding: 1rem max(20vw - 5rem, 1.5rem);
  }

  .title {
    font-size: 2rem;
  }

  .paragraph {
    display: none;
  }

  .settings {
    grid-template-columns: 0;
    grid-template-rows: 1fr;
    padding: 2rem 1rem;
  }

  .cardText {
    display: block;
  }

  .controls {
    grid-column: 2;
  }

}

@media (max-width: 650px) {
  .resultContainer {
    grid-template-columns: 1fr;
  }

  .resultNetzwerkeContainer {
    grid-column: 1;
  }

  .resultTextOne{
    font-size: 1.25rem;
  }
  
  .resultTextTwo{
    font-size: 2rem;
  }
  
  .resultTextThree{
    font-size: 1.25rem;
  }
  
  .resultTextFour{
    font-size: 1.25rem;
  }

  .resultTextFive{
    font-size: 1.25rem;
  }
}

@media (max-width: 345px) {

  .cardWrapper {
    grid-template-rows: 1fr;
  }

  .selectContainer {
    grid-template-columns: 1fr;
  }
}