.site {
  padding: 2.5rem 5rem;
  margin: auto;
  max-width: 90rem;
}

.chartcontainer {
  display: block;
}

.chart {
  padding: 2rem;
  height: min(-moz-calc(10vw + 12rem), 25rem);
  height: min(-webkit-calc(10vw + 12rem), 25rem);
  height: min(-o-calc(10vw + 12rem), 25rem);
  height: min(calc(10vw + 12rem), 25rem);
}

.cardText {
  grid-column: 2;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.controls {
  grid-column: 1;
  padding: 1.2rem 0.5rem;
}

.settings {
  display: grid;
  gap: 0 3vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  justify-content: center;
  align-content: center;
}

.input {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.label {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 0.8rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.select {
  min-width: 10rem;
}

.slidercolor {
  color: #70CEB9 !important;
}

@media (max-width: 900px) {
  .select {
    min-width: unset;
  }

  .site {
    padding: 1rem max(20vw - 5rem, 1.5rem);
  }

  .title {
    font-size: 2rem;
  }

  .paragraph {
    display: none;
  }

  .settings {
    grid-template-columns: 0;
    grid-template-rows: 1fr;
    padding: 2rem 1rem;
  }

  .cardText {
    display: block;
  }

  .controls {
    grid-column: 2;
  }

}