.site {
  padding: 3rem 5.5rem;
  margin: auto;
  max-width: 90rem;
}

.info {
  position: initial;
  display: none;
}

.chartcontainer {
  display: block;
}

.chart {
  padding: 2rem;
  height: min(-moz-calc(10vw + 12rem), 25rem);
  height: min(-webkit-calc(10vw + 12rem), 25rem);
  height: min(-o-calc(10vw + 12rem), 25rem);
  height: min(calc(10vw + 12rem), 25rem);
}

.resultContainer{
  display:grid;
  gap: 2rem;
  width: inherit;
  grid-template-columns: repeat(2, 1fr);
}

.cardWrapper {
  display: grid; 
  grid-template-rows: repeat(2, 1fr);
}

.resultRechenzentrenContainer{
  margin-left: 20%;
  grid-column:1;
  grid-template-columns: repeat(2, 1fr);
}

.resultNetzwerkeContainer{
  margin-left: 20%;
  grid-column:2;
  grid-template-columns: repeat(2, 1fr);
}

.resultEndgeräteContainer{
  margin-left: 20%;
  grid-column:1;
  grid-template-columns: repeat(2, 1fr);
}

.resultTextContainer{
  grid-column:2;
  background-color: yellow;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.cardText {
  grid-column: 2;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.controls {
  grid-column: 1;
  padding: 1.2rem 0.5rem;
}

.settings {
  position: relative;
  display: grid;
  gap: 0 3vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0;
  justify-content: center;
  align-content: center;
}

.input {
  font-family: 'Avenir';
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.selectContainer {
  display: grid;
  gap: 2rem;
  width: inherit;
  grid-template-columns: repeat(2, 1fr);
}

.label {
  font-family: 'Avenir';
  font-size: 0.8rem;
  line-height: 1.4375rem;
  letter-spacing: 0.009368rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.select {
  min-width: 10rem;
}

@media (max-width: 900px) {
  .info {
    display: unset;
  }

  .settings {
    gap: 0;
  }

  .chart {
    max-width: 33rem;
    padding: 1rem 0;
    margin: auto;
  }

  .selectContainer {
    gap: max(1rem, 4vw);
  }

  .select {
    min-width: unset;
  }

  .site {
    padding: 1rem max(20vw - 5rem, 1.5rem);
  }

  .title {
    font-size: 2rem;
  }

  .paragraph {
    display: none;
  }

  .settings {
    grid-template-columns: 0;
    grid-template-rows: 1fr;
    padding: 2rem 1rem;
  }

  .cardText {
    display: block;
  }

  .controls {
    grid-column: 2;
  }

}

@media (max-width: 345px) {

  .cardWrapper {
    grid-template-rows: 1fr;
    gap: 2rem;
  }

  .selectContainer {
    grid-template-columns: 1fr;
  }
}